<%= form_for(@match_team) do |f| %>
  <% if @match_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match_team.errors.count, "error") %> prohibited this match_team from being saved:</h2>

      <ul>
      <% @match_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :local %><br>
    <%= f.check_box :local %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.number_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
