<p id="notice"><%= notice %></p>

<p>
  <strong>Points:</strong>
  <%= @statistic.points %>
</p>

<p>
  <strong>Played:</strong>
  <%= @statistic.played %>
</p>

<p>
  <strong>Won:</strong>
  <%= @statistic.won %>
</p>

<p>
  <strong>Tied:</strong>
  <%= @statistic.tied %>
</p>

<p>
  <strong>Lost:</strong>
  <%= @statistic.lost %>
</p>

<p>
  <strong>Goals scored:</strong>
  <%= @statistic.goals_scored %>
</p>

<p>
  <strong>Goals received:</strong>
  <%= @statistic.goals_received %>
</p>

<p>
  <strong>Red cards:</strong>
  <%= @statistic.red_cards %>
</p>

<p>
  <strong>Yellow cards:</strong>
  <%= @statistic.yellow_cards %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @statistic.tournament_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @statistic.team_id %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
